<h3>Destinos</h3>
<div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-01">
  <button ui-sref="destiny.add" class="btn btn-primary">
    Agregar destino
  </button>
</div>
<table class="table table-hover" ng-controller="DestinyController as vm" >
  <thead>
    <th>
      Codigo
    </th>
    <th>
      Nombre
    </th>
    <th>
      &nbsp;
    </th>
  </thead>
  <tbody ng-repeat="model in vm.alldestinies track by model.id">
    <tr>
      <td>
        {{model.code}}
      </td>
      <td>
        {{model.name}}
      </td>
      <td>
        <div class="pull-right">
          <a class="btn btn-primary" ui-sref="destiny.edit({ id: model.id })"> Editar </a>
          <a class="btn btn-danger" ng-click="vm.deleteItem(model)"> Eliminar </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div ui-view="modal" class="modal fade" tabindex="-1" role="dialog" id="modalView" autoscroll="false"></div>
