<div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputCode" class="col-sm-2 control-label">Codigo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="vm.flightRoute.code" id="inputCode" placeholder="Codigo">
      </div>
    </div>
    <div class="form-group">
      <label for="inputOrigen" class="col-sm-2 control-label">Origen</label>
      <div class="col-sm-10">
        <select type="text" class="form-control" ng-options="item.id as item.name for item in vm.origins track by item.id" ng-model="vm.flightRoute.origin" id="inputOrigen"></select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputDestino" class="col-sm-2 control-label">Destino</label>
      <div class="col-sm-10">
        <select type="text" class="form-control" ng-options="item.id as item.name for item in vm.destinies track by item.id" ng-model="vm.flightRoute.destiny" id="inputDestino"></select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 pull-right">
        <button class="btn btn-primary" ng-click="vm.save()">Salvar</button>
        <button class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
