<h3>Reservas</h3>
<div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-01">
  <button ui-sref="reservation.add" class="btn btn-primary pull-right">
    Agregar Reserva
  </button>
</div>
<table class="table table-hover" ng-controller="ReservationController as vm" >
  <thead>
    <th>
      Pasajero
    </th>
    <th>
      Vuelo
    </th>
    <th>
      &nbsp;
    </th>
  </thead>
  <tbody ng-repeat="model in vm.allreservations track by model.id">
    <tr>
      <td>
        {{model.idPassenger}}
      </td>
      <td>
        {{model.idFlight}}
      </td>
      <td>
        <div class="pull-right">
          <a class="btn btn-primary" ui-sref="reservation.edit({ id: model.id })"> Editar </a>
          <a class="btn btn-danger" ng-click="vm.deleteItem(model)"> Eliminar </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div ui-view="modal" class="modal fade" tabindex="-1" role="dialog" id="modalView" autoscroll="false"></div>
